{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="col-12 p-3 mt-4 mb-5">
            {% if search_univ %}
            <h3 class="shadow p-3 mt-4 mb-5"> Results for '{{ search_req }}'</h3>
            {% else %}
            <h3 class="shadow p-3 mt-4 mb-5">Nothing founded for '{{ search_req }}'</h3>
            {% endif %}
            {% for university in search_univ %}

                <div class="col-4 mb-4">
                    <div class="card shadow">
                        <img src="{{ university.images.first.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ university.title }}</h5>
                            <p class="card-text">{{ university.headnote|slice:":50" }}</p>
                            <a href="{{ university.get_absolute_url }}" role="button" class="btn btn-outline-primary">Read</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}